:root {
  --title-color: #fffff4;
  --bg-color:  #e0a294;

   --glass-bg:       rgba(255, 255, 255, 0.15);   
  --glass-border:   rgba(255, 255, 255, 0.3);
  --shadow-color:   rgba(0, 0, 0, 1);

  --fonte-principal: "Montserrat", sans-serif;
  --fonte-titulo: "Cloud Lucent", sans-serif;
}



